interactions/
Interactions/
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
#*.log
*.egg-info/
*.egg
*.whl
*.coverage
*.cover
*.hypothesis/
*.hypothesis/
*.pytest_cache/
*.mypy_cache/
*.pytest_cache/
*.coverage.*
*.coveragerc
